*

# Informational
!README.md
!CREDITS.md
!PATCHES.md
!.gitignore

# Modpack configuration, strictly for GitHub
!modpack_meta
!modpack_meta/*
!modpack_meta/.bundle.json
!modpack_meta/.bundle.json/*
!modpack_meta/.modify.json
!modpack_meta/.modify.json/*
!modpack_meta/.remote.json
!modpack_meta/.remote.json/*
!modpack_meta/branding
!modpack_meta/branding/*
!modpack_meta/config
!modpack_meta/config/*
!modpack_meta/config/bbm
!modpack_meta/config/bbm/*
!modpack_meta/config/customitems
!modpack_meta/config/customitems/*
!modpack_meta/config/etfuturum
!modpack_meta/config/etfuturum/*
!modpack_meta/config/Netherlicious
!modpack_meta/config/Netherlicious/*
!modpack_meta/lang
!modpack_meta/lang/*
!modpack_meta/mods
!modpack_meta/resources
!modpack_meta/resources/*
!modpack_meta/resources/customitems/*
!modpack_meta/resources/customitems/textures/*
!modpack_meta/resources/customitems/textures/blocks/*
!modpack_meta/resources/customitems/textures/items/*
!modpack_meta/resources/terrafirmacraft/*
!modpack_meta/resources/terrafirmacraft/textures/*
!modpack_meta/resources/terrafirmacraft/textures/items/*
!modpack_meta/resources/terrafirmacraft/textures/items/tools/*
!modpack_meta/resources/terrafirmacraft/textures/items/tools/bucket/*
!modpack_meta/resources/terrafirmacraft/textures/items/tools/bucket/wood/*
!modpack_meta/resources/terrafirmacraft/textures/blocks/*
!modpack_meta/resourcepacks
!modpack_meta/scripts
!modpack_meta/scripts/*
!modpack_meta/shaderpacks

# Configs that get shipped with the modpack export
!.minecraft
!.minecraft/config
!.minecraft/config/mod-director
!.minecraft/config/mod-director/*
